div#change_engineer_modal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="", aria-hidden="false")
    .modal-dialog.modal-sm
        .modal-content
            .modal-header
                button.close(data-dismiss="modal", type="button")
                    span(aria-hidden="true") &times;
                    span.sr-only Close
                h4 Изменить инженера заявки {{current.request_id}}
            .modal-body
                table.table.table-condensed.table-striped
                    tr
                        th Назначена на
                        th Изменить на
                    tr
                        td {{current.assigned_to || 'Никого'}}
                        td
                            select.form-control(ng-model="current.reassigned_to", ng-options="user.username for user in current.engineer_list track by user.id")
            .modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") Закрыть
                button.btn.btn-primary(type="button", ng-click="applyNewEngineer()") Сохранить
