<div id="create_request_wrapper" ng-if="identity.currentUser" class="container"><div class="well"><form name="createRequestForm" class="form-horizontal"><fieldset><legend>Форма создания заявки</legend><table class="table create_request_table"><tr><script>$(function () {
    $("#datetimepicker").datetimepicker({language: "ru"}).on("dp.change", function (e) {
        var $scope = angular.element("#create_request_wrapper").scope().$parent,
                time = $(this).find("input").first().val();
                
        $scope.$apply(function ($scope) {
            $scope.current.limit_date = time;
        });
    });
});</script><td><label for="region">Регион</label><select name="region" ng-model="current.region" ng-options="value.title for value in regions track by value.id" ng-change="filterClients()" class="form-control"></select></td><td><label for="client_request_id">Номер заявки клиента</label><input name="client_request_id" placeholder="Введите номер заявки клиента" ng-model="current.client_request_id" ng-change="changeToInt(current.client_request_id)" class="form-control"/></td></tr><tr><td><label for="client">Клиент</label><select name="client" ng-model="current.client" ng-options="value.title for value in clients track by value.id" ng-change="filterLocations()" class="form-control"></select></td><td><label for="limit_date">Срок выполнения</label><div id="datetimepicker" class="input-group date"><input type="text" data-date-format="YYYY-MM-DD HH:mm" ng-model="current.limit_date" ng-change="changeDate()" class="form-control"/><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div></td></tr><tr><td><label for="address">Адрес</label><select name="address" ng-model="current.location" ng-options="value.address for value in locations track by value.id" class="form-control"></select></td><td><label for="done_descriptions">Готовое описание</label><select name="done_descriptions" ng-model="current.description" ng-options="value.title for value in request_descriptions track by value.id" class="form-control"></select></td></tr><tr><td><label for="type">Тип заявки</label><select name="type" ng-model="current.type" ng-options="value.title for value in request_types track by value.id" class="form-control"></select></td><td rowspan="2"><label for="request_description">Свободное описание</label><textarea placeholder="Введите описание заявки в свободной форме" name="request_description" ng-model="current.free_description" class="form-control request_description"></textarea></td></tr><tr><td><label for="users">Инженер</label><select name="type" ng-model="current.user" ng-options="value.username for value in users track by value.id" class="form-control"></select></td></tr><tr><td colspan="2"><div class="col-xs-12"><button ng-click="createRequest()" class="btn btn-success btn-default center-block">Создать заявку</button></div></td></tr></table></fieldset></form></div></div>