div#request_modal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="RequestModal", aria-hidden="false")
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(data-dismiss="modal", type="button")
                    span(aria-hidden="true") &times;
                    span.sr-only Close
                h4 Заявка # {{current.request_id}}; &nbsp; Дата регистрации: {{current.registration_date}}
            .modal-body(ng-include="'/public/app/partials/requests/edit_request.html'")
            .modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") Закрыть
                button.btn.btn-primary(type="button", ng-click="saveRequest()") Сохранить