.well#request_list_wrapper(ng-if="identity.currentUser")
    legend Все заявки
    .panel.panel-default
        .panel-heading Фильтры
        .panel-body
            .col-xs-2
                select.form-control(ng-model="search.region_title", ng-options="value.title as value.title for value in filters.regions")
                    option(value="") Все регионы
            .col-xs-2
                select.form-control(ng-model="search.client_title", ng-options="value.title as value.title for value in filters.clients")
                    option(value="") Все клиенты
            .col-xs-2
                select.form-control(ng-model="search.location_title", ng-options="value.title as value.title for value in filters.locations")
                    option(value="") Все адреса
            .col-xs-2
                select.form-control(ng-model="search.request_type_title", ng-options="value.title as value.title for value in filters.request_types")
                    option(value="") Все типы
            .col-xs-2
                select.form-control(ng-model="search.state_title", ng-options="value.title as value.title for value in filters.request_states")
                    option(value="") Все статусы
            .col-xs-2
                script.
                    $(function () {
                        $("#datetimepicker").datetimepicker({language: "ru"}).on("dp.change", function (e) {
                            var $scope = angular.element("#request_list_wrapper").scope().$parent,
                                    time = $(this).find("input").first().val();

                            $scope.$apply(function ($scope) {
                                $scope.search.registration_date = time;
                            });
                        });
                    });
                div.input-group.date#datetimepicker
                    input(type="text",data-date-format="YYYY-MM-DD", ng-model="search.registration_date").form-control
                    span.input-group-addon
                        span.glyphicon.glyphicon-calendar
    .row
        table.table.table-striped.table-hover.table-condensed.request_list_table
            thead
                tr
                    th.request_id(ng-click="predicate='request_id'; reverse=!reverse") Номер
                    th.request_region(ng-click="predicate='region_title'; reverse=!reverse") Регион
                    th.request_client(ng-click="predicate='client_title'; reverse=!reverse") Клиент
                    th.request_address(ng-click="predicate='location_title'; reverse=!reverse") Адрес
                    th.request_type(ng-click="predicate='request_type_title'; reverse=!reverse") Тип заявки
                    th.request_type(ng-click="predicate='state_title'; reverse=!reverse") Статус
                    th.request_type(ng-click="predicate='registration_date'; reverse=!reverse") Дата создания
                    th.request_type(ng-click="predicate='limit_date'; reverse=!reverse") Срок выполнения
                    th Действия
            tbody
                tr(ng-repeat="request in  sliced_requests | orderBy:predicate:reverse | myFilter:search")
                    td {{request.request_id}}
                    td {{request.region_title}}
                    td {{request.client_title}}
                    td {{request.location_title}}
                    td {{request.request_type_title}}
                    td {{request.state_title}}
                    td {{request.registration_date}}
                    td {{request.limit_date}}
                    td
                        button.btn.btn-default.glyphicon.glyphicon-folder-open(ng-click="openRequestModal(request.request_id)", data-toggle="modal", data-target="#request_modal", title="Открыть заявку")
                        button.btn.btn-default.glyphicon.glyphicon-user(ng-click="getCurrentEngineer(request.request_id)", data-toggle="modal", data-target="#change_engineer_modal", title="Назначить исполнителя")
        div(paging, page="currentPage", page-size="pageSize", total="total", paging-action="pageChanged(page)")
div(ng-include="'/public/app/partials/requests/request_modal.html'")
div(ng-include="'/public/app/partials/requests/change_engineer_modal.html'")