.navbar-right(ng-controller="navBarLoginCtrl")
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        .form-group
            input.form-control(placeholder="Логин", ng-model="username")
        .form-group
            input.form-control(type="password", placeholder="Пароль", ng-model="password")
        button.btn.btn-primary(ng-click="signin(username, password)") Войти

    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{identity.currentUser.username}}
                b.caret
            ul.dropdown-menu
                li
                    a(href="", ng-click="signout()") Выйти