body {
  padding-top: 45px;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #13987e;
}
.top-padding-med {
  padding-top: 10px;
}
.margin-left-med {
  margin-left: 10px;
}
textarea {
  resize: none;
}
.create_request_table .request_id {
  width: 50px;
}
.create_request_table td {
  border-top: none !important;
  width: 50%;
}
.catalog_list td {
  cursor: pointer;
}
.catalog_data_table .actions {
  text-align: right;
  width: 150px;
}
.edit_request_table td {
  border-top: none !important;
  width: 50%;
}
.edit_request_table .request_description {
  height: 110px;
}
.create_request_table .request_description {
  height: 110px;
}
.request_list_table th,
div[paging] li {
  cursor: pointer;
}
div[paging] {
  text-align: center;
}
.edit_request_table td {
  width: 33%;
}
.last_requests a {
  cursor: pointer;
}
.modal-sm {
  width: 450px !important;
}
