<ul class="nav navbar-nav" ng-if="identity.currentUser">
    <li id="main_link" class="menu_link"><a href="/">Главная</a></li>
    <li id="request_create_link" class="menu_link"><a href="/request_create">Создать заявку</a></li>
    <li id="request_list_link" class="menu_link"><a href="/request_list">Список заявок</a></li>
    <li id="catalog_link" class="menu_link"><a href="/catalog">Справочники</a></li>
</ul>

<script type="text/javascript">
    (function () {
        var items = document.URL.split("/");
        try {
            if (items[items.length - 1] == "") {
                $("#main_link").addClass("active");
            } else {
                $("#" + items[items.length - 1] + "_link").addClass("active");
            }
        } catch (e) {
            console.log(e.name);
        }
        $(".nav.navbar-nav li").click(function () {
            $(".nav.navbar-nav li").removeClass("active");
            $(this).addClass("active");
        });
    }())
</script>