doctype html
head
    title M-Service Desk
    link(href="/public/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel="stylesheet", href="/public/css/bootstrap.min.css")
    link(rel="stylesheet", href="/public/css/style.css")
    link(rel="stylesheet", href="/public/vendor/toastr/toastr.css")
body(ng-app="app")
    block main-content
    include scripts
