script(type="text/javascript", src="/public/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/public/vendor/angular/angular.js")
script(type="text/javascript", src="/public/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/public/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/public/vendor/toastr/toastr.min.js")

script(type="text/javascript", src="/public/app/app.js")
