.panel.panel-primary
    .panel-heading.text-center Последние созданные заявки
    .panel-body
        table.table.table-hover.table.table-condensed
            tr
                th  Номер
                th  Тип
                th  Клиент
                th  Время создания
            tr(ng-repeat="request in last_created_requests")
                td
                    a(ng-click="openRequestModal(request.request_id)", data-toggle="modal", data-target="#request_modal") {{request.request_id}}
                td  {{request.request_type_title}}
                td  {{request.client_title}}
                td  {{request.registration_date}}
