.container
    .jumbotron
        h1.text-center М-Сервис HelpDesk
.container(ng-if="identity.currentUser")
    .row.last_requests
        .col-md-6
            div(ng-include="'/public/app/partials/main/last_created_requests.html'")
        .col-md-6
            div(ng-include="'/public/app/partials/main/last_modified_requests.html'")
.container(ng-if="!identity.currentUser")
    .alert.alert-danger.text-center(role="alert") Чтобы пользоваться системой нужно ввести логин и пароль
div(ng-include="'/public/app/partials/requests/request_modal.html'")